html, body
{
  padding: 0;
  margin: 0;
  background-color: #333;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.bio img
{
  display: block;
  float: left;
  max-width: 85%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}

.bio li
{
  list-style-type: none;
  display: block;
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
}

a
{
  color: white;
}

a.black
{
  color: black;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

h1
{
  font-size: 8vw;
}

h3
{
  font-size: 4vw;
}

h1, h2, h3
{
  margin: 0;
  padding: 0;
}

.topspace
{
  margin-top: 30px;
}

div.front-page
{
  display: inline-block;
  width: 100%;
  margin: 0;
}

.align-left
{
  text-align: left;
}

.align-right
{
  text-align: right;
}

div.song
{
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70%;
}

div.contenttext
{
  color: white;
  display: block;
  margin-left: 13%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0;
  width: 70%;
}

div.contenttextheader
{
  color: white;
  display: block;
  margin-left: 13%;
  margin-right: 15%;
  margin-top: 40px;
  margin-bottom: -20px;
  padding: 0;
  width: 70%;
}

div.songplayer
{
  float: left;
  margin-right: 3%;
}

div.songlabel
{
  float: left;
  color: white;
  margin-top: 10px;
}

div.front-page img
{
  width: 100%;
  margin: 0;
  padding: 0;
}

div.heading
{
  color: white;
  text-align: center;
  margin: 0;
  font-size: 5vw;
}

div.gallery
{
  display: block;
  text-align: center;
  float: left;
}

div.gallery img
{
  max-width: 96%;
  height: auto;
}

div.largeimg img
{
  max-width: 96%;
}

div.desc
{
  padding: 15px;
  text-align: center;
  font-size: 5vw;
  font-color: black;
  font-weight: bold;
  text-decoration: underline;
}

div.desc a {
  font-style: normal;
}

div.centered
{
  text-align: center;
}

div.contact
{
  margin-left: 75px;
  margin-top: 100px;
}

div.contact td
{
  padding: 5px 5px 5px 5px;
}

div.label
{
  text-align: right;
  font-weight: bold;
}

#mobilemenu
{
  display: block;
  float: right;
  font-size: 3em;
}

#themenu
{
  display: none;
}

div.content
{
  display: inline-block;
  width: 100%;
  min-height: 600px;
  background-color: #EEE;
}

div.contentimg img
{
  display: block;
  padding-left: 1%;
  padding-right: 1%;
  max-width: 96%;
  height: auto;
}

.paragraph
{
  margin: 20px 20px 20px 20px;
}

div.menu-block
{
  overflow: hidden;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

div.menu
{
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
}

div.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.menu li
{
  float: left;
  width: 100%;
  text-align: center;
}

div.menu li a
{
  display: block;
  color: white;
  height: 100%;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.5em;
  margin: 0;
  text-decoration: none;
}

div.menu li a:hover
{
  background-color: white;
  color: black;
}

div.footer-content
{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

div.footer-content-contact
{
  color: white;
  margin-left: 15px;
  font-size: 4.5vw;
}

div.footer-content-contact table
{
  margin-left: 10%;
}

div.footer-content-contact th
{
  text-decoration: underline;
}

div.footer-content-contact td
{
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.label
{
  padding-left: 15px;
}

.details
{
  padding-left: 30px;
}

div.venue
{
  margin-left: 20%;
  margin-top: 20px;
}

div.dates table
{
  margin-left: 40px;
  margin-top: 10px;
}

div.dates tr
{
  padding-top: 5px;
}

div.dates td
{
  padding-right: 20px;
}

@media screen and (max-width: 1279px)
{
  .hideonmobile 
  {
    display: none;
  }
}

@media screen and (min-width: 768px)
{
  .bio img 
  {
    max-width: 400px;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1280px), and (max-height: 600px)
{

  div.venue h3
  {
    font-size: 22pt;
  }

  div.venue
  {
    font-size: 16pt;
  }

  div.contentimg img
  {
    max-width: 300px;
    float: left;
    height: auto;
    margin: 20px 20px 20px 20px;
  }

  div.footer-content ul
  {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  div.footer-content-contact
  {
    font-size: 1vw;
    margin-left: 0px;
  }

  div.footer-content-contact-home
  {
    font-size: 1vw;
    margin-top: 20px;
    margin-left: 0px;
  }

  h1
  {
    font-size: 2.5vw;
  }

  h3
  {
    font-size: 1vw;
  }

  div.desc
  {
    font-size: 1vw;
  }

  .hideondesktop
  {
    display: none;
  }

  #mobilemenu
  {
    display: none;
  }

  #themenu
  {
    display: block;
  }

  .div.footer-content ul
  {
    text-align: center;
  }

  div.footer-content li
  {
    display: inline-block;
    margin-right: 3vw;
  }

  div.front-page h1
  {
    display: block;
    margin-top: -100px;
    text-align: right;
    margin-right: 100px;
    font-size: 48pt;
  }

  div.menu
  {
    float: right;
    width: auto;
    margin-right: 4vw;
  }

  div.menu li
  {
    float: left;
    width: auto;
  }

  div.menu li a
  {
    font-size: 1vw;
  }

  div.contentcontainer
  {
    display: inline-block;
    width: 100%;
    background-color: #AAA;
    min-height: 600px;
  }

  div.gallerycontainer
  {
    padding-left: 2%;
    padding-right: 2%;
  }

  div.gallery img
  {
    width: 100%;
    height: auto;
  }

  div.content
  {
    min-height: 600px;
    width: 70%;
    background-color: #EEE;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px 10px 10px 10px;
  }

  div.gallery
  {
    display: block;
    float: left;
    max-width: 31%;
    padding: 10px 10px 10px 10px;
  }
}
